# Eclipse
.classpath
.project
.settings/
.cache

# Intellij
atlassian-ide-plugin.xml
.idea/
*.iml
*.iws
out

# Vagrant
src/vagrant/.vagrant

# Mac
.DS_Store

# Maven
log/
target/

# backup files
*~

# Other
jre.tar.gz
apache-cassandra-2.1.4-bin.tar.gz
cassandra-mesos-*.jar
todo.txt

# generated log files and rotated logs
**/cassandra-mesos.log
**/cassandra-mesos.log*.zip
**/cassandra-executor.log
**/cassandra-executor.log*.zip
**/executor.log
**/executor.log*.zip

driver-extensions/cluster-loadtest/cassandra.logdir_IS_UNDEFINED/**
driver-extensions/cluster-loadtest/loadtest-*/**

# Compiled Licenses
**/licenses/
**/THIRD-PARTY.txt

